  body {
    margin: 0;
    padding: 0;
  }

  .container {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
  }

  .plane-list-container {
    flex-grow: 1;
    overflow-y: auto;
    height: 80%;
  }

  .action-container {
    flex-grow: 1;
    overflow-y: auto;
    height: 80%;
  }

  .gate-list-container {
    flex-grow: 2;
    overflow-y: auto;
    height: 80%;
  }

  .action-wrapper {
    width: 80%;
    margin-left: 10%;
    margin-top: 40%;
  }

   